@CHARSET "UTF-8";

#AddministratorApp {
	background-color: #EEE8AA;
	margin-bottom: 20px;
	height: 80px;
}

#zone1,#zone2,#zone3,#zone4 {
	margin-bottom: 10px;
}

.DragObjectPortlet {
	width: 150px;
	float: left;
}

.DragMediaContent,.DragTextContent {
	width: 110px;
	float: left;
	margin-left: 20px;
}

.outerzone {
	border: 1px solid red;
}

.application {
	border-bottom: 1px solid rgb(192, 184, 95);
	text-align: center;
	width: 100%;
}

.application1 {
	text-align: center;
	width: 100%;
}

.portletLabel {
	width: 30%;
}
.portletLabel label {
	font-style: italic;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

#zone1,#zone2,#zone3,#zone4,#zone5,#zone6,#zone7,#zone8 {
	border: 1px solid black;
}

.row-fluid [id*="zone"] {
	min-height: 80px;
}

.ui-state-highlight {
	height: 73px;
}

.no-space [class*="span"] {
	margin-left: 0;
}