@CHARSET "UTF-8";

#AddministratorApp {
	background-color: #EEE8AA;
	margin-bottom: 20px;
	height: 80px;
}

#zone1,#zone2,#zone3,#zone4 {
	margin-bottom: 10px;	
}

.DragObjectPortlet {
	width: 150px;
	float: left;
}

.outerzone {
	border: 1px solid red;
}

.application {
	border: 1px solid #CCC;
	text-align: center;
}

.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12
	{
	border: 1px solid black;
}

.row-fluid [id*="zone"] {
	min-height: 80px;
}

.ui-state-highlight {
	height: 73px;
}

.no-space [class*="span"] {
	margin-left: 0;
}