.Border-Background {
	border: 1px solid #CDC3B7;
	font-weight: normal;
	color: #3F3731;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#NewTodoInput {
	width: 850px;
}

.TodoFunctions {
	font-weight: normal;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
}

.TodoFunctions a {
	color: #0060BF;
}

.TodoFunctions a:HOVER {
	color: #333;
}

.Todo {
	line-height: 1.4;
	width: 850px;
	margin-left: 25px;
	word-break: break-word;
	border: 0px;
	background-color: white;
	color: #3F3731;
}

.Todo:FOCUS {
	background-color: #F0E68C;
}

.tag-a-css {
	display: inline-block;
	line-height: 1.4;
	text-decoration: none;
}

.DeleteTodo {
	font-style: italic;
	margin-left: 100px;
}

.CompleteTodo {
	font-style: normal;
	margin-left: 30px;
}

.AddTodoBtn {
	text-decoration: underline;
	font-style: italic;
}